 bod{
 font-family:Aria, sans-serif;
margin:0;
padding:0;
background-color:blue;
}
header,footer{
background-color:#ec0f0f;
color:rgb(255, 151, 5);
padding: 20cap;
text-align:center;
}
section{
padding: 20pt;
}
h1, h2{

color:rgb(26, 237, 36);
}